.grid-container {
	display: grid;
	grid-template-columns: 30% 30% auto ;
	grid-gap: 10px;
}

.grid-container > div{
	text-align: center;
}

#header{
	grid-column: 1 / span 3;
	background-color: #5eafb9;
	color: white;
}

#main1{
 grid-column: 1 / span 1;
 background-color: #f2eee5;
}
#main2{
	grid-column: 2 / span 2;
	text-align: left;
	background-color: #c7d6db;
}

#right{
 grid-column: 1 / span 3;
 background-color: #e5c1c5;
}



#footer{
	grid-column: 1 / span 3;
	background-color: #cacfe3;
}

@media only screen and (max-width: 768px) {
	.grid-container {
		  display: grid;
		  grid-template-columns: 30% auto;
		  grid-gap: 10px;
	}

	#header{
		grid-column: 1 / span 2;
	}
	#footer{
	 grid-column: 1 / span 2;
	}
	#main1{
		grid-column: 1 / span 1;
	}
	#main2{
		grid-column: 2 / span 1;
	}
	#right{
		grid-column: 1 / span 2;
	}
	

}

@media only screen and (max-width: 500px) {
	.grid-container {
			 grid-template-columns: auto;
		 
	}
	#header{
		grid-column: 1 / span 1;
	}
	#footer{
	 	grid-column: 1 / span 1;
	}
	#main1{
		grid-column: 1 / span 1;
	}
	#main2{
		grid-column: 1 / span 1;
		
	}
	#right{
		grid-column: 1 / span 1;
	}
	
}
div{
	text-align: center;
}
h1{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
}
h2{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: grey;
	font-weight: bold;
	text-align: center;
}
h3{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: gray;
	font-weight: bold;
}
li{
	text-align: left;
	color: rgb(83, 83, 83);
}
#chicken_pic{
	width: 100%;
}
#chicken_pic1{
	width: 40%;
	
}
a:visited{
    color: brown;
}
a:hover{
    color: cadetblue;
}
img{
    width: 100%;
    
}
.flex_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.flex_container>div{
    /*border: 3px solid rgb(218, 134, 39);*/
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }